body {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    background-color: hsl(234, 29%, 20%);
    color: hsl(0, 0%, 100%);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow-x: hidden;
    }

    h2 {
    font-size: 40px;
    font-weight: 700;
    color: hsl(234, 29%, 20%);
    text-align: center;
    margin-bottom: 10px;
    }

    .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: hsl(0, 0%, 100%);
    border-radius: 20px;
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 700px;
    transition: all 0.3s ease-in-out;
    }

    .left {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    margin: none;
    width: 100px;
    }

    .right {
    flex: 1;
    /* background-image: url("../images/illustration-sign-up-desktop.svg "); */
    /* background-image: url("../images/illustration-sign-up-mobile.svg "); */
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    border-radius: 10px;
    display: flex;
    }


.image2{
    aspect-ratio: 0.67;
    object-fit: contain;
    width: 100%;
    border-radius: 16px;
    display: flex;
}

.image2-mobile{
    width: 120%;
    display: none;
    border-radius: 16px;
    margin: none;
}

    .paragraph {
    font-size: 15px;
    font-weight: 400;
    color: hsl(234, 29%, 20%);
    margin: 10px 0;
    }

    .list p {
    display: flex;
    font-size: 15px;
    color: hsl(234, 29%, 20%);
    margin: none;
    padding: none;
    }

    .list img {
    margin-right: 10px;
    }

    .form-group {
        margin: 15px 0;
    }

    .form-group > div{
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 12px;
    }

    .form-label {
    /* display: flex; */
    /* justify-content: space-between; */
    font-weight: 800;
    color: hsl(234, 29%, 20%);
    }

    #email-error {
    color: hsl(4, 100%, 67%);
    display: none;
    }

    input[type="email"] {
    width: 95%;
    padding: 10px;
    border: 1px solid hsl(231, 7%, 60%);
    border-radius: 5px;
    font-size: 14px;
    transition: border-color 0.3s ease;
    }

    input[type="email"]:focus {
    outline: none;
    border-color: hsl(4, 100%, 67%);
    background-color: hsl(0, 0%, 100%);
    }

    .error-border {
    border-color: hsl(4, 100%, 67%) !important;
    }

    .btn-submit {
    background-color: hsl(235, 18%, 26%);
    color: hsl(0, 0%, 100%);
    border: none;
    padding: 10px;
    font-size: 14px;
    font-weight: 700;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    max-width: 400px;
    margin: 20px 0;
    transition: background-color 0.3s ease;
    }

    .btn-submit:hover {
    background-color: hsl(4, 100%, 67%);
    }

    .container-subscribed {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: hsl(0, 0%, 100%);
    border-radius: 20px;
    padding: 20px;
    box-shadow: hsl(0, 0%, 100%);
    width: 27%;
    max-width: 800px;
    text-align: center;
    transition: all 0.3s ease-in-out;
    }

    .container-subscribed img {
    width: 50px;
    margin: 20px auto;
    }

    .container-subscribed p {
    font-size: 16px;
    color: hsl(235, 18%, 26%);
    margin: 10px 0;
    }

    .container-subscribed h2 {
    font-size: 24px;
    color: hsl(234, 29%, 20%);
    margin-bottom: 20px;
    }

    .dismiss-button {
    background-color: hsl(235, 18%, 26%);
    color: hsl(0, 0%, 100%);
    border: none;
    padding: 10px;
    font-size: 14px;
    font-weight: 700;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    max-width: 200px;
    margin-top: 20px;
    transition: background-color 0.3s ease;
    }

    .dismiss-button:hover {
    background-color: hsl(4, 100%, 67%);
    }

    @media (max-width: 375px) {
    .container {
    flex-direction: column-reverse;
    align-items: center;
    width: 100%;
    padding: 20px;
    background-color: hsl(0, 0%, 100%);
    border-radius: none;
    }

    .right {
        height: 200px; width: 100%; background-size: contain; 
    }

    .left {
        text-align: center;
        width: 100%;
        margin-top: 20px;
    }

    h2 {
        font-size: 24px;
        margin-bottom: 10px;
    }
    
    .paragraph {
        font-size: 14px;
        margin: 10px;
    }
    
    .list p {
        font-size: 14px;
    }
    
    .form-group {
        margin: 15px 0;
    }
    
    .form-label {
        font-size: 12px;
        margin-bottom: 5px;
    }
    
    input[type="email"] {
        width: 100%;
        font-size: 14px;
        padding: 10px;
    }
    
    #email-error {
        font-size: 12px;
        margin-top: 5px;
    }
    
    .btn-submit {
        font-size: 16px;
        padding: 12px;
        margin: 20px 0;
    }
    .container-subscribed { 
        width: 60%;
        padding: 10px; 
    }

    .container-subscribed h2 { 
        font-size: 20px; margin-bottom: 15px; 
    }

    .container-subscribed p { 
        font-size: 14px; margin: 12px 0; 
    }

    .dismiss-button { 
        font-size: 14px; padding: 10px; margin-top: 15px; 
    }
}

    @media (min-width: 1440px) {
    .container {
    /* width: 100%; */
    padding: 100px 20px;
    }

    h2 {
        font-size: 36px;
        margin-bottom: 15px;
    }
    
    .paragraph {
        font-size: 16px;
        margin: 12px 0;
    }
    
    .list p {
        font-size: 16px;
    }
    
    .form-group {
        margin: 18px 0;
    }
    
    .form-label {
        font-size: 14px;
        margin-bottom: 5px;
    }
    
    input[type="email"] {
        font-size: 16px;
        padding: 12px;
    }
    
    #email-error {
        font-size: 12px;
        margin-top: 5px;
    }
    
    .btn-submit {
        font-size: 16px;
        padding: 12px;
        margin: 20px 0;
    }
    
    .right {
        height: 400px;

    }

    .image2{
        display: none;
    }

    .image2-mobile{
        display: flex;
    }
}